.textBg{
    background-image:linear-gradient(90deg, transparent calc(100% - 8ch), #ffffff calc(100%  - 8ch)),
                linear-gradient(90deg, #808080,#808080), 
                linear-gradient(90deg , rgba(128, 128,128, 0.15), rgba(128, 128,128, 0.15));
    background-size: 470vmax 1lh,470vmax 1lh, 100% 1lh;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 100%;
    background-clip: text;
    color: white;
}

@supports(animation-timeline: scroll()){
    @media (prefers-reduced-motion: no-preference){
        .main {
            view-timeline-name: --section;
          }
        .textBg{
            background-position-x: calc( 400vmax* - 1), calc( 400vmax* - 1 ), 0;
            color: transparent;
            animation-name: fill-up, color-in;
            animation-fill-mode: both;
            animation-timing-function: linear;
            animation-timeline: --section;
            animation-range: entry 100% cover 50%,cover 50% exit 0%;
        }

        @keyframes fill-up {
            to { background-position-x: 0, 0, 0; }
        }
        @keyframes color-in {
            to { color: #ffffff; }
        }
    }
}

  
  
  
